<div class="container">
    <div class="row center-align card-padding">
        <div class="col s12 m12 l12">
            <div class="card-panel blue-grey darken-4">
                <div class="signup-font center-align">
                    <h2> Log in</h2>
                </div>
                <div class="row">
                    <%= form_for(:logins, html: {class: "col s12"}) do |f|%>
                        
                        <div class="row">
                            <div class="input-field col s12" >
                                <%= f.text_field :email, placeholder: "Enter your email", autofocus: true %>
                                <%= f.label :email %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12" >
                                <%= f.password_field :password, placeholder: "Enter your password" %>
                                <%= f.label :password, class: "active" %>
                            </div>
                        </div>

                        <%= f.button '<i class="material-icons right">arrow_forward</i>Login'.html_safe, class: "btn orange waves-effect waves-light" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>