<!DOCTYPE html>
<html>
  <head>
    <title>Snap University</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-color">
    <%#= link_to 'Home', root_path %>
    <%#= link_to 'About', about_path %>
    <%#= link_to 'New Course', courses_new_path %>
    <%= render 'layouts/navigation'%>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>       
  </body>
</html>
